@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

:root {
    --cor1: #F9A870 ;
    --cor2: #213A8F;
    --cor3: #e47fba;
    --cor4: black;
    --cor5: white;

    --font1: 'Mulish', sans-serif;
    --font2: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #cfd281; /* TESTE - APAGAR */
    text-align: justify;     
    padding: 30px 50px 50px 30px; 

}

nav a {
    font-size: 12px 15px 0px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    transition-duration: 0.4s;
    color: var(--cor3);
}

h1 {
    font-family: var(--font1);
    text-align: center; 
}

button {
    border-radius: 6px;
    border-style: none;
    color: white;
    background-color: var(--cor3);
    font-size: 12px 15px 0px;
    padding: 8px;
    width: 100px;
    height: 40px;
}

button#divright {
   /* VERIFICAR PRIMEIRO */
}

.two-colors {
    background: linear-gradient(to right, var(--cor2) 50%, var(--cor3) 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
